<div class="container">
  <h1>Add a review for <%= @restaurant.name %></h1>
  <%= simple_form_for [@restaurant, @review] do |f|  %>
    <%= f.input :content %>
    <%= f.submit 'add' %>
  <% end %>
  <% if @review.errors.any? %>
    <%= @review.errors.full_messages %>
  <% end %>
</div>
